@import url("https://fonts.googleapis.com/css2?family=Varta:wght@400;500;600&family=Roboto+Mono&display=swap");
@reference "tailwindcss";

.markdown {
  font-family: "Varta", sans-serif;
  @apply text-xl leading-relaxed;
}

.markdown h1 {
  @apply text-center text-5xl font-medium mt-4 mb-2 clear-both;
}

.markdown h2 {
  @apply text-4xl font-medium mt-4 mb-4 clear-both;
}

.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply text-3xl clear-both;
}

.markdown p {
  @apply my-4;
}

.markdown ul {
  @apply list-disc pl-4;
}

.markdown ol {
  @apply list-decimal pl-8;
}

.markdown a {
  @apply text-slate-700 underline hover:text-slate-500 transition-colors duration-150;
  text-decoration-color: rgb(118, 141, 172);
}

.markdown b {
  @apply font-semibold;
}

.markdown pre {
  @apply p-4 px-8 my-4 overflow-scroll text-sm rounded-xl;
  max-height: 800px;
  line-height: 130%;
}

.markdown code:not(pre code) {
  @apply bg-slate-200 font-mono rounded px-1;
}

.markdown code:not(pre code):not(h1 code):not(h2 code):not(h3 code):not(h4 code):not(h5 code):not(h6 code) {
  @apply text-sm;
}

.markdown blockquote {
  @apply italic;
}

.markdown img {
  @apply rounded-xl ring-3 ring-inset ring-slate-700 mx-auto;
  background: linear-gradient(
    135deg,
    #f3f4f6 25%,
    #e5e7eb 25%,
    #e5e7eb 50%,
    #f3f4f6 50%,
    #f3f4f6 75%,
    #e5e7eb 75%,
    #e5e7eb
  );
  background-size: 20px 20px;
}

.markdown figure {
  @apply text-center my-4;
}

.markdown figure.border:not(.full) {
  @apply border border-gray-300 p-1 -m-1;
}

.markdown figure.full,
.markdown table.full {
  margin-left: var(--full-margin-left);
  width: var(--full-width);
}

.markdown table {
  @apply border-collapse w-full;
}

.markdown tr {
  @apply border-b border-gray-300;
}

.markdown tr:last-child {
  @apply border-b-0;
}

.markdown td,
.markdown th {
  @apply py-1 px-2;
}

.markdown hr {
  @apply border-t border-black my-3 opacity-90;
}

@media (max-width: 639px) {
  .markdown {
    @apply text-base;
  }
  .markdown h2 {
    @apply my-1;
  }
}
