---
import Typewriter from "typewriter-effect";
import Navbar from "./Navbar.astro";
import { HeaderName } from "./HeaderName";
import { Tile } from "./Tile";
import { cva } from "class-variance-authority";

export interface Props {
	includeBody?: boolean;
	includeNavbar?: boolean;
}

const styles = {
	header: cva([
		"bg-slate-600",
		"text-white",
		"rounded-xl",
		"text-2xl",
		"px-3",
		"py-2",
		"transition-all",
		"duration-50",
		"ease-out",
		"hover:bg-slate-700",
		"hover:scale-105",
	]),
};

const { includeNavbar = true, includeBody = true } = Astro.props;
const onlyOne =
	(!includeNavbar && !includeBody) || (includeNavbar && includeBody);
---

<div class={onlyOne ? "flex flex-col gap-3" : "flex flex-col gap-2"}>
  <div>
    {
      includeBody ? (
        <Tile>
          <HeaderName
            className={styles.header({ class: "absolute -top-14 -left-10 sm:-top-10 sm:-left-10" })}
            client:load
          />
          <slot />
        </Tile>
      ) : (
        <div>
          <HeaderName
            className={styles.header({ class: "absolute -top-6 -left-3 sm:-top-5 sm:-left-5" })}
            client:load
          />
        </div>
      )
    }
  </div>

  {includeNavbar && <Navbar />}
</div>
