---
import { cva } from "class-variance-authority";

export interface Props {
	size?: "default" | "sm" | "lg";
	contents: string;
	className?: string;
}

const { size = "default", contents, className = "" } = Astro.props;

const tagVariants = cva(
	"bg-primary text-white font-medium whitespace-nowrap bg-slate-600",
	{
		variants: {
			size: {
				default: "px-1.5 py-0.5 text-xs rounded-lg",
				sm: "px-1 py-0.5 text-xs rounded-lg",
				lg: "px-2 py-1 text-sm rounded-lg",
			},
		},
		defaultVariants: {
			size: "default",
		},
	},
);
---

<span
  class={tagVariants({
    size,
    class: className,
  })}
>
  {contents}
</span>
