---
import { cva } from "class-variance-authority";

export interface TileProps {
  title?: string;
  kind?: "detail" | "heading" | "content";
}

const styles = cva(["p-6 bg-slate-100 rounded-lg"], {
  variants: {
    kind: {
      detail: "bg-gray-700 text-white rounded-full",
      heading: "bg-gray-500 text-white rounded-lg",
      content: "bg-gray-300 text-black rounded-lg",
    },
  },
  defaultVariants: {
    kind: "content",
  },
});

const { title } = Astro.props;
---

<div
  class={styles({ kind: Astro.props.kind, className: Astro.props.className })}
>
  {title && <div class="font-semibold">{title}</div>}
  <slot />
</div>
