---
import { cva } from "class-variance-authority";
import Header from "../components/Header.astro";
import "../styles/global.css";
import RotatedLinks from "../components/RotatedLinks.astro";

export type Props = {
	title?: string;
	headerProps?: import("../components/Header.astro").Props;
};

const styles = {
	body: cva([
		"max-w-6xl",
		"mx-auto",
		"my-10",
		"flex",
		"flex-col",
		"gap-2",
		"p-6",
		"rounded-3xl",
		"relative",
		"bg-[#2960B4]",
	]),
};

const { title = "404wolf.com" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>

  <body class={styles.body()}>
    <div class="sm:mx-[5%] xl:mx-0">
      <div
        class="max-w-6xl flex flex-col gap-6 bg-slate-400 p-6 rounded-3xl relative"
      >
        <Header {...Astro.props.headerProps}>
          <slot name="header-body" />
        </Header>

        <slot />
      </div>
    </div>

    <RotatedLinks />
    </body>
</html>
